# recuerda cambiar el nombre a .env para que el backend se levante

PORT=4000

DATABASE_URL=postgres://postgres:convive1234@localhost:5432/barranquilla_convive

# esto es lo de los tokens no borrar 
SESSION_SECRET=esto_se_cambia_por_una_clave_aleatoria_larga
