<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/src/views/view_admin/css/auth.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="card">

        <div class="tag">
            <div class="square yellow"></div>
            <span>Login</span>
        </div>

        <h1>Bienvenido de nuevo</h1>

        <p class="subtitle">
            Ingresa con tu cuenta institucional
        </p>

        <form>

            <label>Correo institucional</label>

            <input
                type="email"
                placeholder="nombre@iedbarranquilla.edu.co">

            <label>Contraseña</label>

            <input
                type="password"
                placeholder="••••••••">

            <a href="#">
                ¿Olvidaste tu contraseña?
            </a>

            <button>
                Ingresar
            </button>

        </form>

        <p class="footer">
            El sistema te redirige según tu rol:
            administrador, docente o estudiante.
        </p>

    </div>

</body>

</html>