*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#ffffff;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;
}

.container{

    width:100%;
    display:flex;
    justify-content:center;
    padding:20px;
}

.card{

    width:420px;

    background: #FAF8F4;

    border-radius:15px;

    padding:40px;

    box-shadow:0 15px 40px rgba(0,0,0,.4);
}

.logo{

    text-align:center;

    margin-bottom:30px;
}

.logo i{

    font-size:55px;

    color: #f6c92f;

    margin-bottom:10px;
}

.logo h1{

    color:rgb(0, 0, 0);

    font-size:28px;
}

h2{

    color:rgb(0, 0, 0);

    text-align:center;

    margin-bottom:15px;
}

p{

    color:#000000;

    text-align:center;

    margin-bottom:30px;

    line-height:1.5;
}

label{

    display:block;

    color:rgb(0, 0, 0);

    margin-bottom:8px;

    font-weight:bold;
}

.input-group{

    display:flex;

    align-items:center;

    background:#000000;

    border-radius:10px;

    margin-bottom:25px;

    overflow:hidden;
}

.input-group i{

    color:#050505;

    padding:15px;
}

input{

    width:100%;

    background:none;

    border:none;

    outline:none;

    color:white;

    padding:15px;
}

input::placeholder{

    color:#999;
}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background: #FFD54A;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background: #f6c92f;
}

.back{

    display:block;

    margin-top:25px;

    text-align:center;

    color:#000000;

    text-decoration:none;
}

.back:hover{

    text-decoration:underline;
}